body {
    background-color: #e72b35;
    color: white;
    margin: 0px;
}


.logo {
    height: 120px;
}
  
  .main {
    display: flex;
    flex-wrap: wrap;
    max-width: 14440px;
    padding: 40px;
    flex: 1;
  }
  
  .left-container, .right-container {
    flex: auto;
    display: flex;
    flex-direction: column;
  }
  
  .divider {
    min-width: 40px;
    min-height: 20px;
  }
  
  .section {
    display: flex;
  }
  
  .section-main {
    margin-left: 10px;
    max-width: 500px;
  }
  
  .b2 > div {
    /*border: 2px solid black;*/
  }
  
  .controls {
    display: flex;
    margin-top: 10px;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.section-00 {}
.section-01 {}

.section-02 {
    display: none;
}

.section-03 {
    display: none;
}

footer {
    /*background-color: green;*/
    display: flex;
    padding: 40px;
}

footer .container {
    display: flex;
    opacity: 0.8;
    font-family: Futura;
    font-size: 24px;
    line-height: 1.42;
    text-align: left;
    color: #ffffff;
    margin: 10px;
    
}

header {
    padding: 40px;
}

footer .container .description {
    width: 281px;
    padding-left: 25px;
}

.headline {
    margin-bottom: 40px;
    font-family: Futura;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    text-align: left;
    color: #ffffff;
}

.text {
    width: 480px;
    height: 102px;
    opacity: 0.8;
    font-size: 24px;
    line-height: 1.42;
    font-family: Futura;
    text-align: left;
    color: #ffffff;
}

.number {
    height: 40px;
    opacity: 0.8;
    font-family: Futura;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.67;
    text-align: left;
    color: #ffffff;
}

.tx-id {
    margin-top: 40px;
    width: 520px;
    height: 64px;
    border-radius: 12px;
    background-color: #ffffff;


    font-family: Futura;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    color: #212121;
}

.button-container {
    width: 520px;
    height: 136px;
    border-radius: 12px;
    background-color: #fccd38;
    box-shadow: 4px 4px 0 0 #ae282f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-container:hover {
    transition: box-shadow 0.3s ease-in-out 0s; 
    box-shadow: 8px 8px 0 0 #ae282f;
}

.button-container .button {
    /*width: 216px;*/
    padding: 10px;
    margin-left: 10px;
    height: 40px;
    font-family: Futura;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 3px;
    text-align: center;
    color: #e72b35;
    letter-spacing: normal;
    margin: 10px 0;
}

.preview-container {
    width: 320px;
    height: 320px;
    margin: 40px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 4px 4px 0 0 #ae282f;
    display: flex;
}

.preview-container .frame {
    /* To complete */
}

.preview-container .preview {
    width: 288px;
    height: 288px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.receipt {
    display: none;
    flex: 1;
}

.receipt-wrapper {
    display:flex;
    align-items: center;
    flex-direction: column;    
}

.receipt-text {
    width: 520px;
    height: 80px;
    font-family: Futura;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 15.35px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 9.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fecd58;
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2.4px 2.4px 0px rgba(0, 0, 0, 0.4), 0px 0px 2.4px rgba(13, 13, 13, 0.4);
    border: 1px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -15.35px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fee19a;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 9.3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fecd58;
    border-radius: 0px;
    border: 0px solid rgba(1, 1, 1, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2.4px 2.4px 0px rgba(0, 0, 0, 0.4), 0px 0px 2.4px rgba(13, 13, 13, 0.4);
    border: 1px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 9.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #feb916;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #fecd58;
    border: 0px solid rgba(1, 1, 1, 0);
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 2.4px 2.4px 0px rgba(0, 0, 0, 0.4), 0px 0px 2.4px rgba(13, 13, 13, 0.4);
    border: 1px solid rgba(0, 0, 0, 0);
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #ffffff;
    cursor: pointer;
    height: 9.3px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #fecd58;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #fee19a;
  }