body {
    background-color: red;
    color: white;
    margin: 40px;
}


.logo {
    height: 120px;
}
  
  .a {
    display: flex;
    flex-wrap: wrap;
    max-width: 14440px;
    margin: 0 auto; 
    border: 2px solid white;
  }
  
  .a1, .a2 {
    flex: auto;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
  }
  
  .divider {
    min-width: 40px;
    min-height: 20px;
    border: 2px solid yellow;
  }
  
  .b {
    display: flex;
  }
  
  .b2 {
    margin-left: 10px;
    max-width: 500px;
  }
  
  .b2 > div {
    /*border: 2px solid black;*/
  }
  
  .c {
    display: flex;
    margin-top: 10px;
  }


footer {
    /*background-color: green;*/
    display: flex;
}

footer .container {
    opacity: 0.8;
    font-family: Futura;
    font-size: 24px;
    line-height: 1.42;
    text-align: left;
    color: #ffffff;
    margin: 10px;
    
}

footer .container .description {
    width: 281px;
    padding-left: 25px;
    flex-direction: row;
}  

.headline {
    margin-bottom: 40px;
    font-family: Futura;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    text-align: left;
    color: #ffffff;
}

.number {
    height: 40px;
    opacity: 0.8;
    font-family: Futura;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.67;
    text-align: left;
    color: #ffffff;
}

.tx-id {
    margin-top: 40px;
    width: 520px;
    height: 64px;
    border-radius: 12px;
    background-color: #ffffff;


    font-family: Futura;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: center;
    color: #212121;
}

.button-container {
    width: 520px;
    height: 136px;
    border-radius: 12px;
    background-color: #fccd38;
    box-shadow: 4px 4px 0 0 #ae282f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container .button {
    /*width: 216px;*/
    margin-left: 10px;
    height: 40px;
    font-family: Futura;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: 3px;
    text-align: center;
    color: #e72b35;
    letter-spacing: normal;
    margin: 10px 0;
}