body {
    background-color: red;
    color: white;
    margin: 40px;
}


.logo {
    height: 120px;
}
  
  .a {
    display: flex;
    flex-wrap: wrap;
    max-width: 14440px;
    margin: 0 auto; 
    border: 2px solid white;
  }
  
  .a1, .a2 {
    flex: auto;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
  }
  
  .divider {
    min-width: 40px;
    min-height: 20px;
    border: 2px solid yellow;
  }
  
  .b {
    display: flex;
  }
  
  .b2 {
    margin-left: 10px;
  }
  
  .b2 > div {
    border: 2px solid black;
  }
  
  .btn-pay {
    margin: 10px 0;
  }
  
  .c {
    display: flex;
    margin-top: 10px;
  }


footer {
    /*background-color: green;*/
    flex: 0 0 auto; 
}

footer .container {
    opacity: 0.8;
    font-family: Futura;
    font-size: 24px;
    line-height: 1.42;
    text-align: left;
    color: #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

footer .container .description {
    width: 281px;
    padding-left: 25px;
}  